<footer>
    <div id="footer-content">
        <div id="hours">
            <h4 id="hours-title">Heures d'ouverture</h4>
            <p>Lundi-Vendredi: 9h00-00h00</p>
            <p>Samedi-Dimanche: 9h00-2h00</p>
        </div>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.20393116809961!2d-17.458761470904463!3d14.697719310471692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1731b671f24c7%3A0xd3bb7eae885f9e94!2sBrasil%20Burger%20Senegal!5e0!3m2!1sfr!2ssn!4v1658849255714!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>