footer {
    background: #1a1a1a;
    margin-top: 10vh;

    #footer-content {
        display: flex;
        justify-content: space-between;
    }
}

#hours {
    color: #fff;
    padding: 1% 0 1% 2%;
}

#map {
    padding: 1% 2%;

    iframe {
        height: 250px;
        width: 250px;
    }
}