.card {
    padding: 0.1%;
    width: 15vw;
    height: fit-content;
    background: #ffffff;

    .card-img {
        width: 100%;
        height: 20vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-body {
        padding: 3%;
    }
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

    .card-title {
        color: #feba14;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: #feba14;
    }
}

#product-infos {
    display: flex;
    flex-direction: column;
    column-gap: 2%;

    .card-title {
        margin: 0;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .price-display {
        margin-top: 1vh;
    }
}

#card-bottom {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cart-add {
        height: 35px;
        width: 100%;
        background: #ffc800;
        border-radius: 5px;
        border: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            color: #fff;
            font-weight: bold;
        }
    }

    .cart-add:hover {
        cursor: pointer;
    }

    mog-counter {
        width: 100%;
        margin-top: -2vh;
    }
}

.btn-icon {
    filter: invert(100%) sepia(32%) saturate(22%) hue-rotate(355deg) brightness(112%) contrast(100%);
}