#complement-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#complement-content-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    width: 8vw;
    height: fit-content;
    margin-top: 3vh;

    .card-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 15vh;
        width: 100%;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 4%;

        .card-title {
            margin: 0;
            font-size: large;
            font-weight: 500;
            color: #404040;
        }
    }
}