<div class="card">
    <div class="card-header">
        <img src="" alt="" id="card-close-btn">
    </div>
    <div class="card-body">
        <div class="product-infos">
            <img src="assets/images/card-img.svg" alt="" class="product-img">
            <div id="main-info">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
            <div id="description">
                <h6>Description</h6>
            </div>
        </div>
        <div id="complement-display">
            <div id="complement-choice">
                <h6>Compléments</h6>
                <div class="form-group">
                    <select class="form-select" name="" id="">
                        <option value="boisson" selected>Boissons</option>
                        <option value="frites">Frites</option>
                    </select>
                </div>
            </div>
            <mog-complement></mog-complement>
        </div>
        <div id="button-wrapper">
            <button type="button" name="" id="" class="button icon-btn" id="cart-add-btn">
                <img src="assets/icons/cart-add.svg" alt="" class="btn-icon">
                <span class="btn-text">Ajouter au panier</span>
            </button>
        </div>
    </div>
</div>