#avatar {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #3eb000;
    display: flex;
    align-items: center;
    justify-content: center;

    #username {
        font-weight: 600;
        font-size: 1.2em;
        color: #fff;
    }
}