<div id="main-container">
  <mog-header></mog-header>
  <div id="detail-wrapper">
    <ng-container *ngIf="(details$|async) as details">
      <ng-container *ngIf="details.produit as produit">
        <div id="product-display">
          <div id="img-wrapper">
            <img id="product-img" src="data:image/png;base64,{{produit?.image}}" alt="">
          </div>
          <div id="product-infos">
            <h3 id="product-name">{{produit.nom}}</h3>
            <h4 id="price">{{produit?.prix|currency : 'XOF'}}</h4>
            <ng-container *ngIf="produit.type==='menu'">
              <div id="composition-display">
                <h6>Composition</h6>
                <ul>
                  <ng-container *ngFor="let menuBurger of produit.menuBurgers">
                    <li>{{menuBurger.quantite}} {{menuBurger.burger.nom}}</li>
                  </ng-container>
                  <ng-container *ngFor="let menuFrites of produit.menuFrites">
                    <li>{{menuFrites.quantite}} Portion frite {{menuFrites.frites.nom|lowercase}}</li>
                  </ng-container>
                  <ng-container *ngFor="let menuTaille of produit.menuTailles">
                    <li>{{menuTaille.quantite}} Boisson {{menuTaille.tailles.libelle|lowercase}}</li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>
          <div id="complements">
            <div class="c-display">
              <h5>Boissons</h5>
              <ng-container *ngIf="produit.type==='menu'">
                <ng-container *ngFor="let menuTaille of produit.menuTailles">
                  <div class="boisson-display">
                    <div id="amount-indicator">
                      <p class="amount-display">{{menuTaille.tailles.libelle}}: {{menuTaille.quantite}}</p>
                      <p class="text-danger bold" id="quantite-boissons-warning">{{errorMsg}}</p>
                    </div>
                    <mog-liste-produits [listType]="'complement'" [produits]="menuTaille.tailles.boissons" [prix]="menuTaille.tailles.prix" (amountChanged)="getAmount($event)" class="list" [disabled]="disabled"></mog-liste-produits>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="produit.type==='burger'">
                <mog-liste-produits [listType]="'complement'" [produits]="details.boissons" class="list"></mog-liste-produits>
              </ng-container>
            </div>
            <div class="c-display">
              <h5>Frites</h5>
              <ng-container *ngIf="produit.type==='menu'">
                <div class="list" id="frites-list">
                  <mog-liste-produits [listType]="'complement'" [produits]="details.produit.menuFrites" class="list"></mog-liste-produits>
                </div>
              </ng-container>
              <ng-container *ngIf="produit.type==='burger'">
                <mog-liste-produits [listType]="'complement'" [produits]="details.frites" class="list"></mog-liste-produits>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngIf="produit.type==='menu'">
          <div id="others-wrapper">
            <div class="c-display">
              <h5 class="others-title">Autres boissons</h5>
              <mog-liste-produits [listType]="'complement'" [produits]="details.boissons" class="list"></mog-liste-produits>
            </div>
            <div class="c-display">
              <h5 class="others-title">Autres frites</h5>
              <mog-liste-produits [listType]="'complement'" [produits]="details.frites" class="list"></mog-liste-produits>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div id="fab-container">
    <button id="add-fab" (click)="addToCart()"><img src="assets/icons/cart-add.svg" alt="" class="btn-icon"><span id="btn-text">Ajouter au panier</span></button>
  </div>
  <mog-footer></mog-footer>
</div>