header {
    background: #1a1a1a;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #first-part,
    #second-part {
        display: flex;
        align-items: center;
    }
}

#first-part {
    column-gap: 5%;

    #logo {
        height: auto;
        width: 70px;
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 10%;
    }

    .nav-item {
        font-weight: bold;
        color: #fff;
    }
}

#second-part {
    justify-content: flex-end;
    padding-right: 5%;
    column-gap: 5%;

    #search-bar {
        border-radius: 50px;
    }

    #cart-btn {
        height: auto;
        width: 40px;
        filter: invert(74%) sepia(9%) saturate(0%) hue-rotate(140deg) brightness(103%) contrast(79%);
    }
}