<mog-header></mog-header>
<div id="container" class="container">
    <div id="first-part">
        <div id="head">
            <p id="title">Finaliser la commande</p>
        </div>
        <div id="delivery-info" class="info-container">
            <div id="info-header" class="info-header">
                <p>Mode de livraison</p>
            </div>
            <div id="info-body" class="info-body">
                <p id="question-text">Comment voulez-vous recevoir votre commande?</p>
                <div id="choices-wrapper">
                    <div id="deliver-choice" class="choice">
                        <input type="radio" name="deliver" id="deliver" value="true" (change)="getValue($event)" checked>
                        <label for="deliver">Livraison à domicile</label>
                    </div>
                    <div id="pick-choice" class="choice">
                        <input type="radio" name="deliver" id="pick" value="false" (change)="getValue($event)">
                        <label for="pick">Sur place</label>
                    </div>
                </div>
                <ng-container *ngIf="deliver==true">
                    <div id="adress-info">
                        <div id="zone-input" class="adress-input">
                            <!-- <input type="email" class="form-control" id="zone-field" placeholder="Zone"> -->
                            <select class="form-select" (change)="getZone($event.target)">
                                <option selected>--------- Zone --------</option>
                                <ng-container *ngIf="(zones$|async)['hydra:member'] as zones">
                                    <ng-container *ngFor="let zone of zones">
                                        <option value="{{zone.id}}">{{zone.nom}}</option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                        <div id="quartier-input" class="adress-input">
                            <!-- <input type="email" class="form-control" id="quartier-field" placeholder="Zone"> -->
                            <select class="form-select" (change)="getQuartier($event.target)">
                                <option selected>-------- Quartier --------</option>
                                <ng-container *ngFor="let zone of zones">
                                    <ng-container *ngFor="let quartier of quartiers">
                                        <option value="{{quartier.id}}">{{quartier.nom}}</option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div id="delivery-info-bottom">
                <button id="back-to-cart-btn" routerLink="/client/panier">Retour au panier</button>
            </div>
        </div>
    </div>
    <div id="second-part">
        <div id="head">
            <p id="title">Résumé</p>
        </div>
        <div id="resume-info" class="info-container">
            <div id="header" class="info-header">
                <p id="resume-title">Votre commande</p>
            </div>
            <div id="resume-body">
                <ng-container *ngFor="let produitCommande of produits">
                    <div class="product-presenter">
                        <ng-container *ngIf="produitCommande.produit as produit">
                            <img src="data:image/png;base64,{{produit.image}}" id="product-img">
                            <div id="presenter-text">
                                <div class="presenter-header">
                                    <p class="product-name">{{produit.nom}}</p>
                                    <p class="price-display">{{produit.prix}}</p>
                                </div>
                                <p class="amount">Quantité: {{produitCommande.quantite}}</p>
                            </div>
                        </ng-container>
                    </div>
                    <hr id="separator">
                </ng-container>
            </div>
            <div id="resume-top-bottom" class="resume-bottom">
                <div id="products-total" class="h-display">
                    <p>Sous total</p>
                    <p>{{prixTotal}}</p>
                </div>
                <div id="delivery-price" class="h-display">
                    <p>Montant livraison</p>
                    <p>{{prixLivraison}}</p>
                </div>
                <div id="order-total" class="h-display">
                    <p>Montant de la commande</p>
                    <p>{{orderPrice}}</p>
                </div>
            </div>
            <div id="resume-bottom" class="resume-bottom">
                <button id="order-btn" class="button" (click)="order()">Commander</button>
            </div>
        </div>
    </div>
</div>