#filter {
    margin-top: 12vh;

    #filter-content {
        padding-left: 5%;
        display: flex;
        column-gap: 5%;
    }
}

.filter-text {
    /* text-decoration: underline;
  text-underline-offset: 21px; */
    text-decoration: none;
    font-size: medium;
    color: #000;
    font-weight: 500;
}

.filter-text:hover {
    cursor: pointer;
}