#register-card {
    form {
        margin-top: 3vh;
    }

    .mt {
        margin-top: 3vh;
    }
}

.form-control {
    height: 45px;
}

.auth-separator {
    margin: 2vh 0;
}

#btn-wrapper {
    padding-top: 4vh;
}