<div id="login-card" class="auth-card card">
    <h3>Connexion</h3>
    <form action="" method="">
        <div class="input-wrapper">
            <input type="email" name="username" class="form-control" id="email-field" placeholder="Adresse email" [(ngModel)]="email">
            <span class="error-display"></span>
        </div>
        <div class="input-wrapper">
            <input type="password" name="password" class="form-control" id="password-field" placeholder="Mot de passe" [(ngModel)]="password">
            <span class="error-display"></span>
        </div>
        <div id="btn-wrapper">
            <button type="submit" class="button submit-btn" id="submit-btn" (click)="login()">Connexion</button>
        </div>
    </form>
    <hr class="auth-separator">
    <div id="register-zone" class="auth-card-footer">
        <p id="register-text" class="auth-text">Vous n'avez pas de compte ?</p>
        <a routerLink="/auth/register">
            <p id="register-link" class="auth-link">Inscrivez vous</p>
        </a>
    </div>
</div>